<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sondage</title>
  <style>
      body{
          padding-left: 10%;
          padding-right: 10%;
      }

      button, a {
          text-decoration: none;
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: center;
          background-color: rgb(29, 130, 207);
          color: white;
          font-weight: bolder;
          font-size: 20px;
          width: 100%;
          border: none;
          margin-top: 20px;
      }
  </style>
</head>

<body class="">
    <h1 style="color: blue">Réponse bien enregistrée merci !</h1>
    <p>
        <a href="/">
            Retour au questionnaire
        </a>
    </p>
</body>

</html>
